<div class="container">
    <!-- <app-toolbar></app-toolbar> -->
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> -->
    <!-- <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <img [src]="fullImagePath">
        </ul>
    </div> -->
    
    
    <router-outlet></router-outlet>
    
</div>

