button {
    padding: 25px;
    width: 250px;
    margin: 30px;
    margin-top: 400px;
    font-size: 30px;
    background-color: #c02327;
}


img {
    position: fixed;
    left: 45%;
    margin-top: 10px;
    margin-left: -150px;
}