<nav class="nav has-shadow" id="top">

  <!-- <div class="nav-left">
    <a class="nav-item main-item" routerLink="/home">
      <img src="/assets/images/logo.png">
    </a>
  </div> -->
  <span class="nav-toggle">

  </span>
  <div class="nav-right nav-menu">
    <a class="nav-item is-tab " routerLink="/" routerLinkActive="is-active">
      <p class="navlink">Home</p>
    </a>
    <a class="nav-item is-tab" routerLink="/chat" routerLinkActive="is-active">
      <p class="navlink">Chat</p>
    </a>
    <a class="nav-item is-tab" routerLink="/createchannel" routerLinkActive="is-active">
      <p class="navlink">Create Channel</p>
    </a>
    <a class="nav-item is-tab" routerLink="/logout" routerLinkActive="is-active">
      <p class="navlink">Logout</p>
    </a>
  </div>

</nav>