<div class="container">
  <form (submit)="onSubmit()" #userForm="ngForm">
    <fieldset>
      <div class="form-group">
        <label class="label" for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" 
        required
        [(ngModel)]='newPerson.email' 
        #email="ngModel" 
        name="email">
      <div class="form-group has-danger">
        <p *ngIf="!email.valid && email.touched">Email is required</p>
      </div>
      </div>

      <div class="form-group">
        <label class="label" for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" 
        required minlength="4" 
        [(ngModel)]='newPerson.password'
        #password="ngModel" 
        name="password">

        <div class="form-group has-danger">
          <p *ngIf="!password.valid && password.touched">Password is required</p>
        </div>
      </div>

      <div class="form-group">
        <label class="label" for="exampleInputFullName3">Full Name</label>
        <input type="text" class="form-control" id="exampleInputFullName3" placeholder="Full Name" 
        required 
        minlength="4" 
        [(ngModel)]='newPerson.fullname'
        #fullname="ngModel" 
        name="fullname">

      <div class="form-group has-danger">
        <p *ngIf="!fullname.valid && fullname.touched">Full Name is required</p>
      </div>
      </div>

      <button class="btn btn-success" [disabled]="!userForm.valid">Submit!</button>
    </fieldset>
  </form>
</div>