
 <form (submit)="onSubmit()" #userForm="ngForm" class="w-100">
    <div class="col-6">
      <div class="form-group">
        <span name="fullname"></span>
        Full Name
        <input type="text" name="fullname" class="form-control" placeholder="{{user.fullname}}" 
        [(ngModel)]= 'updatePerson.fullname'
        #fullname ="ngModel"/>
      </div>
        <div class="form-group">
          <span name="email"></span>
        Email
          <input type="text" name="email" class="form-control" placeholder="{{user.email}}" 
          [(ngModel)]= 'updatePerson.email' 
          #email ="ngModel"/>
        </div>
          <div class="form-group">
            <button class="btn btn-success" *ngIf="!userForm.valid" disabled>Update Profile!</button>
            <button type="submit" class="btn btn-success" *ngIf="userForm.valid">Update Profile!</button>
          </div>
        </div>
  </form>
