
<div class="container-fluid">
  <form (submit)="onSubmit()" #userForm="ngForm">
    <fieldset>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" 
        required
        minlength="4" 
        [(ngModel)]='loggedPerson.email' 
        #email="ngModel"
        name="email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

        <div class="form-group has-danger">
          <p *ngIf="email.errors && email.dirty" class="invalid-feedback">Email is required</p>
        </div>

      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" 
        required 
        minlength="4" 
        [(ngModel)]='loggedPerson.password'
        #password="ngModel"
        name="password">
        

        <div class="form-group has-danger">
          <p *ngIf="password.errors && password.dirty" class="invalid-feedback">Password is required</p>
        </div>

      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Submit</button>
    </fieldset>
  </form>
</div>